<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div style="margin-top: 10px;margin-bottom:10px;float:right;">
    <a href="/"><input type="button" name="add" class="btn btn-secondary" value="На главную"></a>
</div>
<h2>Информация о сотруднике</h2>
<form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}">
    <p> ФИО: <input type="text" th:name="name" th:value="${employee.name}"/> </p>
    <div id="date">
        <label>Дата рождения:</label><input type="date" th:name="birthday" th:value="${employee.birthday}"/>
    </div>
    <p>Номер отдела:
        <select name="positionId" th:value="${employee.position}">
            <option th:each="position : ${positions}"
                    th:value="${position.id}"
                    th:utext="${position.name}"/>
        </select>
    <p>Номер менеджера:
    <select name="managerId" th:value="${employee.manager}">
        <option th:each="manager : ${managers}"
                th:value="${manager.id}"
                th:utext="${manager.name}"/>
    </select>
    <p>Зарплата: <input type="number" th:name="salary" th:value="${employee.salary}"> </p>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>
</body>
</html>