<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div style="margin-top: 10px;margin-bottom:10px;float:right;">
    <a href="/"><input type="button" name="add" class="btn btn-secondary" value="На главную"></a>
</div>
<h2>Регистрация нового сотрудника</h2>
<form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p> ФИО: <input type="text" name="name"/> </p>
    <div id="date">
        <label>Дата рождения:</label><input type="date" name="birthday"/>
    </div>
    <p>Номер отдела:<input type="String" name="position"></p>
    <p>Номер менеджера: <input type="number" name="manager"/> </p>
    <p>Зарплата: <input type="number" name="salary"> </p>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>
</body>
</html>